<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android Monitoring App</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/chart.js"></script>
    <script src="/icons/lucide-icons.js"></script>
</head>
<body class="bg-gray-100">
    <%- include('../partials/header') %>
    <main class="container mx-auto my-4">
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/main.js"></script>
</body>
</html>